body {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    margin-top: 10px;
    width: 800px;
    height: 800px;
    background-color: aqua;
}

.grid-row-container {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.grid-cell {
    height: 100%;
    width: 100%;
    border: 2px solid rgb(235, 235, 235);
    background-color: rgb(188, 188, 255);
    opacity: 0.1;
}

.select-size-button {
    background-color: rgb(116, 130, 255);
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    border: 3px solid white;
}