body {
    background-color: azure;
}

.grid-container {
    width: 800px;
    height: 800px;
    background-color: aqua;
}

.grid-row-container {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.grid-cell {
    height: 100%;
    width: 100%;
    border: 2px solid rgb(235, 235, 235);
    background-color: rgb(181, 181, 250);
}